
html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.42;
	color: #fff;	
	background: url(../../img/main_background/blackbg.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	min-width: 1200px;
}
.wrapper--main--page{
	background: url(../../img/main_background/1.png) center top no-repeat, url(../../img/main_background/2.png) center bottom no-repeat;
}


 * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;

}
ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;

}
.container {
	margin: 0 auto;
	max-width: 1138px;
	width: 100%;
}


