.footer__container {
    margin-top: auto;
}

.footer {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer__col--left {
    display: flex;
    align-items: center;
}
.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
}
.footer__col--right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu--footer {
    
    top: 55px;
}

.logo--footer {
    top: 44px;
}
.contacts--footer {
    top: 48px;
}


.socials{
    margin-right: 74px;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.socials__item:last-child{
    margin-right: 0px;
}
.socials__link {
    width: 36px;
    height: 36px;
    display: block;
    text-decoration: none;
    background: center center / no-repeat;
}








.socials__item--icon--telegram .socials__link::after{
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    background: url(../../img/icons/socials/sprites.png)  -10px -10px;
    opacity: 1;
    transition: .3s;    
    

}



.socials__item--icon--telegram .socials__link::before{
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../img/icons/socials/sprites.png)  -10px -402px;
    opacity: 0;
    transition: .3s;
}

.socials__item--icon--telegram .socials__link:hover::after {
    opacity: 0;
    
}

.socials__item--icon--telegram .socials__link:hover::before {
    opacity: 1;
    
}


.socials__item--icon--vk .socials__link::after{
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    background: url(../../img/icons/socials/sprites.png) -10px -178px;
    transition: .3s;
    opacity: 1;
}


.socials__item--icon--vk .socials__link::before {
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../img/icons/socials/sprites.png)  -10px -234px;
    opacity: 0;
    transition: .3s; 
}

.socials__item--icon--vk .socials__link:hover::after {
    opacity: 0;

}
.socials__item--icon--vk .socials__link:hover::before {
    opacity: 1;
}





.socials__item--icon--fb .socials__link::after{
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    background: url(../../img/icons/socials/sprites.png) -10px -122px;
    transition: 0.3s;
}

.socials__item--icon--fb .socials__link::before {
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../img/icons/socials/sprites.png)  -10px -346px;
    opacity: 0;
    transition: .3s; 
}
.socials__item--icon--fb .socials__link:hover::after{
    opacity: 0;
}
.socials__item--icon--fb .socials__link:hover::before{
    opacity: 1;
}

.socials__item--icon--insta .socials__link::after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    background: url(../../img/icons/socials/sprites.png)  -10px -66px;
    transition: .3s;
    opacity: 1;
}
.socials__item--icon--insta .socials__link::before {
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../img/icons/socials/sprites.png)  -10px -290px;
    opacity: 0;
    transition: .3s; 
    
}

.socials__item--icon--insta .socials__link:hover::after {
    opacity: 0;
}

.socials__item--icon--insta .socials__link:hover::before {
    opacity:1;
}

.contacts__desc {
    font-size: 11px;
    line-height: 14px;
    color: #9A9A9A;
}