.section--offers{
    margin-bottom: 127px;
}
.section__title--fire {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    line-height: 42.19px;
}
.section__title--fire:after{
    content: url(../../img/icons/flame.png);
    margin-left: 12px;
    vertical-align: middle;
}

.offers {
    display: flex;
    justify-content: space-between;
}
.offers__item {
    width: calc(100% / 3 - 18px);
    
}
.offer {
    min-height: 449px;
    background: #ffff;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}


.offers__item:last-child{
    margin-right: 0px;
   
}
.offer__header{
    min-height: 144px;

}
.offer__content {
    padding: 36px 22px 27px 22px;
    flex: 1;
    flex-direction: column;
    display: flex;
}

.offer__title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 23px;
    
}
.offer__features{
    margin-bottom: 23px;
    display: flex;
    justify-content: space-around;
}
.offer__features-text{
    color: #666666;
}
.offer__desc{
    color: #303030;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24.5px;
}
.offer__features-cell {    
    display: flex;
    justify-content: space-between;
    

}
.offer__features-cell:last-child{
    margin-right: 0px;
}
.offer__features-img{
    margin-right: 9px;
}

.btn__white {
    color: #F5170E;
    background: #FFFFFF;
    border: #F5170E 1px solid ;
    padding: 18px 29px;
    line-height: 16.41px;
}
.btn__white:hover{
    background: #F5170E;
    color:#FFFFFF;
}

.offer__btn-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}