
.pager{
   display: flex;
   justify-content: center;
   align-items: center;
}


.pager__display {
    margin-right: 25px;
    text-align: center;
}
.pager__item {
    text-align: center;
}
.pager__item--active .pager__link{
    background: #FFFFFF;
    color: #F5170E;
}
.pager__item .pager__link:hover {
    background: #FFFFFF;
    color: #F5170E;
}
.pager__list{
    display: flex;
    align-items: center;
}

.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    
}


.pager--theme--dark {
    color:#000000;

}
.pager--theme--dark .pager__item--active .pager__link {
    background:#F5170E;
    color:#FFFFFF;
}
.pager--theme--dark .pager__item .pager__link:hover{
    background:#F5170E;
    color:#FFFFFF;  
}